@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body,
input {
	font-family: "Lemon", cursive;
}

form.sign-up-form {
	opacity: 0;
	z-index: 1;
	background-color: #fff;
	width: 500px;
	height: 400px;
	margin-left: 250px;
	border-radius: 50px;
}

form.sign-in-form {
	z-index: 2;
	background-color: #fff;
	width: 500px;
	height: 400px;
	margin-left: 200px;
	border-radius: 50px;
}

.input-field i {
	text-align: center;
	line-height: 55px;
	color: #acacac;
	transition: 0.5s;
	font-size: 1.1rem;
}

.input-field input {
	background: none;
	outline: none;
	border: none;
	line-height: 1;
	font-weight: 600;
	font-size: 1.1rem;
	color: #333;
}

.input-field input::placeholder {
	color: #aaa;
	font-weight: 500;
}

.btnA {
	width: 150px;
	background-color: #7AAE72;
	border: none;
	outline: none;
	height: 49px;
	border-radius: 49px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 600;
	margin: 10px 0;
	cursor: pointer;
	transition: 0.5s;
}

.btnA:hover {
	background-color: #7AAE72;
}

.containerA:before {
	content: "";
	position: absolute;
	height: 2500px;
	width: 2500px;
	top: -10%;
	right: 50%;
	transform: translateY(-50%);
	background-image: linear-gradient(-45deg, #7AAE72 0%, #7AAE72 100%);
	transition: 1.8s ease-in-out;
	border-radius: 50%;
	z-index: 6;
}

.panel {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: space-around;
	text-align: center;
	z-index: 6;
}

.left-panel {
	pointer-events: all;
	padding: 3rem 17% 2rem 12%;
}

.right-panel {
	pointer-events: none;
	padding: 3rem 12% 2rem 17%;
}

.panel .content {
	color: #fff;
	transition: transform 0.9s ease-in-out;
	transition-delay: 0.6s;
}

.panel h3 {
	font-weight: 600;
	line-height: 1;
	font-size: 1.5rem;
}

.panel p {
	font-size: 0.95rem;
	padding: 0.7rem 0;
}

.btnA.transparent {
	margin: 0;
	background: none;
	border: 2px solid #fff;
	width: 130px;
	height: 41px;
	font-weight: 600;
	font-size: 0.8rem;
}

.right-panel .image,
.right-panel .content {
	transform: translateX(800px);
}



.containerA.sign-up-mode:before {
	transform: translate(100%, -50%);
	right: 52%;
}

.containerA.sign-up-mode .left-panel .image,
.containerA.sign-up-mode .left-panel .content {
	transform: translateX(-800px);
}

.containerA.sign-up-mode .signin-signup {
	left: 25%;
}

.containerA.sign-up-mode form.sign-up-form {
	opacity: 1;
	z-index: 2;
}

.containerA.sign-up-mode form.sign-in-form {
	opacity: 0;
	z-index: 1;
}

.containerA.sign-up-mode .right-panel .image,
.containerA.sign-up-mode .right-panel .content {
	transform: translateX(0%);
}

.containerA.sign-up-mode .left-panel {
	pointer-events: none;
}

.containerA.sign-up-mode .right-panel {
	pointer-events: all;
}